<div id="details-container">

<img src="{{response.image}}" alt="{{response.title}}">

<div id="movie-info">
<a href="/movies">Go back</a>
<h2>{{response.title}}</h2>
<h3>Director: {{response.director}}</h3>
<h3>Stars:</h3>
<ul>
    <li>{{response.stars}}</li>
</ul>
<p>{{response.description}}</p>
<br>
<p>{{response.showtimes}}</p>
</div>
</div>